*, h1, h2, h3, h4, h5, div {
    font-family: 'Teko', arial, sans-serif;
    letter-spacing: 1.2;
}

body {
    background-image: url("../images/space.png");
    background-size: cover;
}

a {
    color: blue;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

#main-title {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0;
    font-size: 55px;
    background: -webkit-linear-gradient(rgb(252, 252, 232), yellow);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    letter-spacing: 1.6;
}

#instructions-button {
    z-index: 1;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: rgb(205, 205, 250);
}

#instructions-box {
    z-index: 1;
    display: none;
    position: fixed;
    top: 60px;
    left: 35%;
    width: 30%;
    border: 1px solid black;
    background: rgb(141, 193, 252, 0.9);
}

#instructions-box h2 {
    text-align: center;
    padding: 20px 20px 5px 20px;
    font-size: 20px;
}

#instructions-box p {
    position: relative;
    padding: 20px;
}

#close-instructions {
    display: block;
    position: relative;
    width: 60%;
    padding: 10px;
    margin: 5px auto 20px auto;
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

#chooseCharacter {
    /*Change disply property with Jquery at start and end of game*/
    position: relative;
    width: 66.66%;
    margin: 10px auto 75px auto;
}

#chooseCharacter, #game-box {
    background: hsl(0, 0%, 50%, 0.25);
    border: 2px solid rgb(41, 17, 48, 0.65);

}

.choose-image {
    max-width: 100%;
    
}

.health-display {
    color: white;
    position: absolute;
    bottom: 3px;
    left: 5px;
}

.star-ship {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 40%;
    padding: 0;
    min-height: 200px;
    border: 1px solid rgb(82, 8, 8);
    margin-top: 4%;
    margin-bottom: 0;
    margin-left: 6%;
    margin-right: 0;
    background: linear-gradient(black,rgb(34, 2, 49),black);
    cursor: pointer;
}

.bottom-ship {
    margin-bottom: 4%;
}

#game-box {
    /*Change disply property with Jquery at start and end of game*/
    display: none;
    position: relative;
    width: 66.66%;
    margin: 10px auto 75px auto;
    border: 1px solid rgb(37, 6, 110);
}

#fire-button {
    position: relative;
    width: 25%;
    margin: 3% auto 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    color: white;
    background-color: rgb(170, 12, 12);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.game-box-content {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    min-height: 300px;
    padding: 0;
    margin: 3% auto 3% 3%;
    border: 1px solid rgb(38, 2, 105);
    text-align: center;
    color: white;
    background-color: rgba(58, 11, 58, 0.3);
}

h3 {
    margin-top: 20px;
    font-size: 20px;
}

h4 {
    margin-top:20px;
}



.game-stat {
    position: absolute;
    left: 10%;
    width: 80%;
    text-align: center;
}

.health-stat {
    bottom: 20%;
}

.attack-stat {
    bottom: 10%;
}

.vs-box {
    width: 35%;
}

.vs-image {
    width: 90%;
    margin-top: 20%;
}

.remaining-box {
    width: 15%;
    padding: 0;
}

.up-next {
    display: block;
    position: relative;
    width: 90%;
    min-height: 75px;
    padding: 0;
    margin: 10px auto 10px auto;
    cursor: pointer;
}

.small-image {
    max-width: 100%;
   
}

#defeated-box {
    position: relative;
    width: 66.66%;
    min-height: 75px;
    margin: 0 auto 3% auto;
    border: 1px solid rgb(177, 10, 10);
    background-color: rgb(156, 4, 4, 0.3);
}

h5 {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.defeated-opponents {
    display: inline-block;
    width: 25%;
    margin: 10px auto 10px 5%;
    min-height: 50px;
}

#new-game-box {
    z-index: 1;
    display: none;
    position: fixed;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70vh;
    opacity: 0.8;
    background-color: rgb(28, 49, 28,0.9);
   /* background-color: rgba(19, 15, 15, 0.9);*/
    border: 2px solid rgb(80, 4, 4);
}

#new-game-button {
    z-index: 2;
    display: none;
    position: absolute;
    top: 45%;
    left: 40%;
    width: 20%;
    height: 10%;
    background: linear-gradient(green, rgb(110, 146, 110));
    box-shadow: 0 0 40px rgb(70, 139, 70);
    color: rgb(213, 233, 213);
    opacity: 1.0;
    font-size: 30px;
    border: 2px solid rgb(151, 173, 151);
    border-radius: 5px;
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0;
    border-top: 5px solid rgb(10, 10, 88);
    margin-top: 20px;
    color: rgb(199, 187, 204);
    background-color: rgb(64, 5, 87, 0.5);
}