#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

#main-title {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 40px;
}

#chooseCharacter {
    /*Change disply property with Jquery at start and end of game*/
    position: relative;
    width: 66.66%;
    margin: 30px auto 75px auto;
}

.choose-image {
    max-width: 100%;
    
}

.star-ship {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 40%;
    padding: 0;
    min-height: 200px;
    border: 1px solid red;
    margin-top: 4%;
    margin-bottom: 0;
    margin-left: 6%;
    margin-right: 0;
    background: linear-gradient(black,rgb(34, 2, 49),black);
}

.bottom-ship {
    margin-bottom: 4%;
}

#game-box {
    /*Change disply property with Jquery at start and end of game*/
    display: none;
    position: relative;
    width: 66.66%;
    margin: 30px auto 75px auto;
}

#fire-button {
    position: relative;
    width: 25%;
    margin: 3% auto 0 auto;
    text-align: center;
}

.game-box-content {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    min-height: 300px;
    padding: 0;
    margin: 3% auto 3% 3%;
    border: 1px solid blue;
}

.vs-box {
    width: 35%;
}

.vs-image {
    width: 90%;
}

.remaining-box {
    width: 15%;
    padding: 0;
}

.up-next {
    display: block;
    position: relative;
    width: 90%;
    min-height: 75px;
    padding: 0;
    margin: 10px auto 10px auto;
    border: 1px solid black;
}

.small-image {
    max-width: 100%;
}

#defeated-box {
    width: 66.66%;
    min-height: 75px;
    margin: 0 auto 3% auto;
}

.defeated-opponents {
    display: inline-block;
    width: 25%;
    margin: 10px auto 10px 5%;
    border: 1px solid black;
    min-height: 50px;
}

#new-game-box {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50vh;
    opacity: 0.8;
    background-color: rgb(80, 79, 79);
}

#new-game-button {
    display: none;
    position: absolute;
    top: 45%;
    left: 40%;
    width: 20%;
    height: 10%;
    background: green;
    opacity: 1.0;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0 10px 0;
    border-top: 5px solid blue;
    margin-top: 20px;
}